*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    display: grid;
    font-family: Verdana;
    /* height: 100vh; */
    grid-template-columns: 100%;
    grid-template-areas: 'cabecalho'
                         'principal'
                         'rodape';


}
/*HEADER*/
header{
    grid-area: cabecalho;
    background-color: #ff6b81;
    color:#fff;
}
/*LOGO,E BOTÕES*/
.logo{
    display: flex;
    align-items:center;
    justify-content: space-around;
}

.logo div{margin-right: 10%;
display: flex;

align-items: center;}

.logo img{
    width: 20%;
}
button[type=submit]:focus{
    box-shadow: 5px 5px 15px #ffb695;
}
.logo button{
    background-color: #ff6b81;
    border-radius: 5px;
    border: 2px solid white;
    color:#fff;
    font-size:80%;
    padding: 1% 1.5%; 
}
.btn1 button{
    background-color: #ff6b81;
    border-radius: 5px;
    border: 2px solid white;
    color: #fff;
    width: 180px;
    height: 60px;
    font-size: 16px;
}
.btn1{
    display: flex;
    column-gap: 11%;
}
.btn:active{
    outline: 1px outset;
}
.btn:hover{
    cursor:pointer;
    color: black;
    background-color: aliceblue;
    transition: all 0.3s linear;
}

/* TEXTOS HEADER INFERIOR, IMAGEM*/
.cabeçalho2{
    display:flex;
    align-items: center;
}

.cabeçalho2 .text1{
    margin-bottom: 4%;
    
}
.text{
    display:flex;
    flex-direction:column;
    font-family: arial;
    margin-left: 5%;
    
}
.text1 h1{margin-bottom: 3%;
    font-size:50px;
    width:100%;
    
}
.text1 p{
    font-size: 16px;
    display:inline-block
}
.png{width:70%;
    margin-top: 5%;
}

.png img{
    width: 100%;
}
/*MAIN*/
main{
    grid-area: principal;
    font-family: arial;
    display:flex;
    flex-direction:column;
    width:100%;
}   
.main{
    text-align:center;
    width:100%;
}
.main p{
    padding: 20px 0 10px;
    font-size: 16px;
    width: 100%;
}
.main h3{
    padding:100px 0 10px;
    text-transform:uppercase;
    color: #ff6b81;
}
.principal{
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.textarea1{
    padding-top:30px;
    gap:20px;
    display: flex;
    justify-content: center;
}
.textarea2{
    padding-top:30px;
    gap: 20px;
    display:flex;
    justify-content: center;
}
.bloco1, .bloco2, .bloco3, .bloco4, .bloco5, .bloco6{
    border: 1px solid white;
    font-size: 16px;
    height: 160px;
    align-items: center;
    border-radius: 5px;
    background-color: #ff6b81;
    color: #fff;
    padding: 20px;
    display: grid;
    gap:10px;
    width:80%
}
.bloco1 h3{
    color: black;
    font-size: 16px;
    padding: 5px;
}

.bloco2 h3{
    color: black;
    font-size: 16px;
    padding: 5px;
}

.bloco3 h3{
    color: black;
    font-size: 16px;
    padding: 5px;
}

.bloco4 h3{
    color: black;
    font-size: 16px;
    padding: 5px;
}

.bloco5 h3{
    color: black;
    font-size: 16px;
    padding: 5px;
}

.bloco6 h3{
    color: black;
    font-size: 16px;
}

/*FOOTER*/
footer{
    grid-area: rodape;
    background-color:#ff6b81;
    color:#fff;
    height: 100%;
    margin-top: 70px;
    font-family: arial;
    width:100%

}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    font-size:20px;
}
.titulo h2{margin-top: 30px;}
.rodape{
    display:flex;
    justify-content: space-around;
    gap: 50px;
    font-size: 20px;
}
.rodape h1{
    text-align: center;
}
/*RESPONSIVIDADE*/
/*Tablet*/
@media screen and (max-width:1200px){
/*HEADER RESPONSIVO*/
    

    .logo h1{
        font-size: 30px;
    }
    .logo button{
        font-size:20px;
    }

    .png{
        margin:0 auto;
        margin-top: 20px;
    }
    .text h1{
        font-size: 40px;
        margin-top: 100px;
        justify-content: center;
    }
    .text{
        width:100%;
        text-align: center;
    }
    .text p{
        width: 85%;
        text-align: center;
    }
    .cabeçalho2{
        flex-direction: column;
        margin: 0 auto;
    }
    .btn1{
        justify-content: center;
    }
    /*MAIN RESPONSIVO*/
    .principal{
        display:flex;
        flex-direction:row;
        align-items: center;
        justify-content:center;
        width:100%;
    }
    .textarea1, .textarea2{
        display:flex;
        flex-direction: column;
    }
    main{
        font-size: larger;
        display:flex;
        justify-content: center;
        align-items: center;
        width:0 auto;
    }

    .bloco1, .bloco2, .bloco3, .bloco4, .bloco5, .bloco6{
        text-align: start;
        margin:0 10px;
        width:40vw;
        margin-top: 15px;
        height: 20vh;
    }

    .main p{    
        width:100%;
    }
/*FOOTER RESPONSIVO*/
    .titulo{
        font-size: larger;
        max-width:100%;
    }
    .rodape{
        font-size: larger;
    }
}
/*Smartphone*/
@media screen and (max-width: 760px){
    .logo{
        padding:30px 10px 0;
    }
    .logo button{
        display: none;
    }
    .btn1{
        flex-direction: column;
        align-items: center;
    }
    .btn1 button{
        margin-bottom: 20px;
    }
    .text{
        margin:0;
        padding:40px;
        width: 100%;
        font-size: 20px;
    }
    .text h1{
        margin-top:50px;
        text-align: center;
    }
    .text p{
        text-align: center;
    }
    .png{
        margin-bottom: 50px;
        width: 0 ;
    }
    .main{
        text-align:center;
        width:100%;
    }
    .main h3{
        padding-top:30px;
    }
    .main p{
        font-size: 20px;
        padding-top: 30px;
    }
    .principal{
        display:grid;
    }
    .textarea1, .textarea2{
        display:grid;
        justify-content: center;
        justify-items: center;
    }

    .bloco1, .bloco2, .bloco3, .bloco4, .bloco5, .bloco6{
        width: 80%;
        height:90%;
    }

    .titulo{
        margin:0 auto;
        text-align: center;
        padding-top:50px;
        font-size: 20px;
    }
    .rodape{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        justify-items: center;
        padding-bottom: 30px;
    }
    .rodape h1{
        text-align: center;
    }
}